
    <!-- CONTACT FORM -->
    <div class="sixteen columns contact-container">
    	<h2>Contact Me</h2>
    	<p class="required">* = Required</p>
    	
    	<form name="contact" id="contact" class="contact" method="post" novalidate>
    
    	    <label>Name*
            	<input type="text" name="uName" ng-model="user.name" required>
                <div class="show-error">
    	    	  <p data-ng-show="contact.uName.$invalid && contact.submitted">You name is required.</p>
                </div>
    	    </label>
    
    	    <label>eMail*
            	<input type="email" name="uEmail" data-ng-model="user.email" required>
                <div class="show-error">
                    <div ng-show="contact.uEmail.$invalid && contact.submitted">
                        <p data-ng-show="contact.uEmail.$error.required">You email is required.</p>
                        <p data-ng-show="contact.uEmail.$error.email">You email is not valid.</p>
                    </div>
                </div>
    	    </label>
    
    	    <label>Comment*
            	<textarea name="comment" data-ng-model="user.comments" required></textarea>
                <div class="show-error">
            	   <p data-ng-show="contact.comment.$invalid && contact.submitted">You comment is required.</p>
                </div>
    	    </label>
    
    		<p>
    			<button ng-click="reset()">Reset</button>
            	<button type="submit" ng-click="processForm()">Submit</button>
            </p>
    	</form>
    </div>
    <!-- END: CONTACT FORM -->

