<section class="resume-container container">
	<a class="print" target="_self" href="partials/resume.pdf">Download</a>
	<header>
		<h2>Whitney DuBois Gardner</h2>
		<p>E: <a href="mailto:gardner.whitney@gmail.com">gardner.whitney@gmail.com</a><br>  M: <a href="callto://17086632718">708.663.2718</a><br><a href="https://www.linkedin.com/in/whitgardner">www.linkedin.com/in/whitgardner</a></p>
	</header>

	<article class="objective">
		<h3>Front End Developer</h3>
		<p>A dedicated self-motivated, solutions-oriented professional with progressive experience in web design, web development, best practices, and editing, as well as application development. Collaborates with multiple parties to ensure the achievement of common goals.</p>
	</article>
	<h3>Professional Experience</h3>
	<article>
		<h4>Razorfish, Chicago, IL </h4><span>2012-2014</span>
		<h5>Associate Presentation Layer Engineer</h5>
		<p>Responsible for coding the execution of complex designs and interactions that reflect the creative and art direction provided within the established technical framework.  Rapidly produce interim deliverables (such as rapid prototypes, proofs of concept, etc.) in addition to the final live site or application. Shifting between a creative and a technical focus depending on the project need and/or the type of project.</p>
		<ul>
			<li>Responsible for creating rapid prototypes using PHP, jQuery, and responsive frameworks to meetthe demand of fast paced user testing needs.</li>
			<li>Entrusted to create promotional microsites according to interactive designs for a nationaltire company using AdobeCQ, Javascript, and CSS; delivering code ahead of deadline.</li>
			<li>Provide continuous maintenance support - for Fortune 500 insurance company - including, butnot limited to creating new pages, improving user experience, and functionality debugging.</li>
		</ul>
	</article>
	<article>
		<h4>QuadW Int'l, Wood Dale, IL</h4>
		<span>2012-2012</span>
		<h5>Web Developer</h5>
		<p>Create and maintain custom web sites for customer using HTML5, CSS3, and Javascript/jQuery along with Wordpress content management system. Ensured content reflected brand standards and usability best practices. Optimized URLs for better search engine results using Google's Webmaster Tools, Google Web Analytics &amp; Reporting and Bing Webmaster Tools.</p>
		<ul>
			<li>HTML, CSS, jQuery, Drupal CMS, Wordpress CMS</li>
			<li>Search Engine Optimization</li>
		</ul>
	</article>
	<article>
		<h4>Vitamin Talent, Chicago, IL</h4>
		<span>2012-2012</span>
		<h5>Web Developer</h5>
		<p>Handled task of updating, and creating new sub menu for website. Ensured content reflected brand standards and usability best practices.</p>
		<ul>
			<li>HTML, CSS, Drupal Content Management System</li>
		</ul>
	</article>
	<article>
		<h4>Chinese Mutual Aid Assn, Chicago, IL</h4>
		<span>2011-2012</span>
		<h5>Web Developer</h5>
		<p>Possessed strong understanding of web design, application, navigation and current trends in web development.  Ensured content reflected brand standards and usability best practices.  Handled tasks of updating, revising and expanding written materials.</p>
		<aside>
			<h5>Achievements:</h5>
			<p>Increased website traffic through expert diagnosis and resolution of program-related issues.<br>
			Increased consumer awareness via use of Social Media by 500%.</p>
		</aside>
		<ul>
			<li>HTML, CSS, Drupal Content Management System, Firefox / Chrome / Safari / IE Web Browsers</li>
			<li>PHP and MySQL and Linux / Apache Web Server</li>
			<li>Problem diagnosis and resolution</li>
		</ul>
	</article>
	<article class="education">
		<h3>Education</h3>
		<p>Master Certificate in Web Design and Application Development <br>Illinois Istitute of Technology, Chicago, IL 2012</p>
		<p>Liberal Studies <br>Roosevelt University, Chicago, Illinois 2010</p>

		<h3>Technical Skills</h3>

		<h5>Web Application Development Tools &amp; Technologies</h5>
		<p>HTML5, CSS3,jQuery, Javascript/JSON, AJAX, AngularJS, Adobe CQ, Wordpress, Responsive Grids (Bootstrap/Skeleton), Bower, NPM, Version Control (Git/SVN), W3C Markup Validator, Firebug, Jira</p>

		<h5>Scripting languages</h5>
		<p>HTML, Javascript</p>

		<h5>Design Software</h5>
		<p>Adobe Illustrator, Fireworks CS5, and Photoshop</p>

		<h5>Databases</h5>
		<p>MySQL, MongoDB, Firebase</p>

		<h5>Delivery</h5>
		<p>Responsive Web Design, Mobile Development, Fluid Grids, Fluid/Adaptive Images, Standards Compliant, Cross-browser Compatible, Google Analytics, Google Adwords/Adsense</p>

		<h5>Search Engine Optimization Tools</h5>
		<p>Google Web Analytics &amp; Reporting, Google Webmaster Tools, Bing Webmaster Tool</p>

		<h5>Certifications</h5>
		<p>Masters Certificate in Web Design &amp; Application Development, CIW Site Development Associate Certification</p>
	</article>

</section>