<!-- FIXED NAV -->
<header class="sixteen columns fixed-header">
			<a href="#/"><h2>Whit DuBois</h2></a>
			<!-- <nav class="fixed-nav">
				<ul>
					<li><a href="#/">Home</a></li>
					<li><a href="#/projects">Projects</a></li>
					<li><a href="#/contact">Contact</a></li>
				</ul>
			</nav> -->
		</header>
<!-- END: FIXED NAV -->

<!-- NAV -->
<header class="sixteen columns main-header">
	<a scroll href="#/"><h1>Whit DuBois</h1></a>
	<nav scroll class="main-nav">
		<ul>
			<li><a href="#/">Home</a></li>
			<li><a href="#/projects">Projects</a></li>
			<li><a href="#/contact">Contact</a></li>
			<!-- <li><a href="#/contact">Contact</a></li> -->
		</ul>
	</nav>
</header>
<!-- END: NAV -->

<!-- PROJECTS -->
<section class="columns sixteen bg-img-container">
	<article class="bg-img">

	</article>
</section>
<!-- END: PROJECTS -->