<!-- PROJECT DETAILS -->
<header class="sixteen columns main-header">
			<a href="#/"><h1>Whit DuBois</h1></a>
			<nav class="main-nav">
				<ul>
					<li><a href="#/">Home</a></li>
					<li><a href="#/projects">Projects</a></li>
					<li><a href="#/contact">Contact</a></li>
					<!-- <li><a href="#/contact">Contact</a></li> -->
				</ul>
			</nav>
		</header>
		
<section class=" project-details-container">
	<article class="three columns project-detail-img">
		<img ng-src="{{project.images[0]}}">
		<iframe ng-src="{{project.url}}" frameborder="0" allowfullscreen></iframe>
	</article>
	<article class="five columns project-description">
		<h2>{{project.name}}</h2>
		<p>{{project.description}}</p>
		<h4>Technology</h4>
		<ul>
			<li >{{project.tech[0]}}</li>
			<li>{{project.tech}}</li>
		</ul>
		<p ng-repeat="project in projects | filter:query">{{project.tech[0]}}</p>
	</article>
</section>
<!-- END: PROJECT DETAILS -->