<header class="sixteen columns main-header">
			<a href="#/"><h1>Whit DuBois</h1></a>
			<nav class="main-nav">
				<ul>
					<li><a href="#/">Home</a></li>
					<li><a href="#/projects">Projects</a></li>
					<li><a href="#/contact">Contact</a></li>
					<!-- <li><a href="#/contact">Contact</a></li> -->
				</ul>
			</nav>
		</header>

<section class="container">
	<!-- SEARCH -->
	<article>
		<nav class="sixteen columns utility-nav">
			Search  <input data-ng-model="query" placeholder="i.e websites, videos, photos">
			<!-- <select ng-model="orderProp">
			    <option value="name">Alphabetical</option>
			    <option value="-category">Category</option>
			    <option value="date">Date</option>
			 </select> -->
		</nav>
	</article>
	<!-- END: SEACH-->

	<!-- PROJECTS -->
	<article class="projects-container container" data-ng-controller="projectCtrl">
		<div class="columns project" data-ng-repeat="project in projects | orderBy:orderProp | filter:query">
				<div class="img-container">
					<a href="#/projects/{{project.id}}"><img data-ng-src="{{project.pic}}"></a>
				</div>
				<h3 class="project-name">
					<a href="#/project/{{project.id}}">{{project.name}}</a>
				</h3>
				<div>{{project.description}}</div>
				<div>{{project.category}}</div>
				<!-- <div>{{project.date}}</div> -->
				<!-- <a href="http://{{project.url}}" target="_blank">Vist Site</a> -->
		</div>
	</article>
</section>
<!-- END: PROJECTS -->